@using domain.Devices.Generic
@typeparam TDevice where TDevice : DbcDevice

<div style="overflow-y: auto; height: calc(100vh - 250px); padding: 24px; scrollbar-width: auto; scrollbar-color: #888 transparent;">
    @if (Device.DbcSignals.Any())
    {
        <MudDivider Class="my-4"/>
        <MudText Typo="Typo.h6" Class="mb-2">DBC Signals</MudText>
        <MudGrid Spacing="2">
            @foreach (var signal in Device.DbcSignals)
            {
                <MudItem Style="width: 200px; height: 100%">
                    <MudCard>
                        <MudCardContent>
                            <MudStack AlignItems="AlignItems.Center" Spacing="1">
                                <MudText Typo="Typo.body1">@signal.Name</MudText>
                                <MudChip T="string" Variant="Variant.Outlined"
                                         Color="@GetChipColor(signal.Value)"
                                         Size="Size.Small" Style="min-width: 100px;">
                                    @signal.Value.ToString("F2") @signal.Unit
                                </MudChip>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
    @if (!Device.DbcSignals.Any())
    {
        <MudAlert Severity="Severity.Warning">
            No DBC signals configured
        </MudAlert>
        <MudAlert Severity="Severity.Info">
            Click "Configuration" to open a DBC file or add custom signals
        </MudAlert>
    }
</div>

@code {
    [Parameter, EditorRequired] public TDevice Device { get; set; } = null!;

    private static Color GetChipColor(double val)
    {
        return val switch
        {
            > 0.0 => Color.Success,
            < 0.0 => Color.Error,
            _ => Color.Default
        };
    }
}